html, body {
  padding: 0;
  margin: 0;
  background: #00000000;
  border: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #000000;
  color: white;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

.event-stack {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.event-text {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
